.container{
  display: flex;
  align-items: center;
  justify-content: center; 
}


footer{
  height: 2em;
  width: 100%;
}

#bimg{
  height: 31.65em;
  width: 31.65em;
  margin: 1.2em;
}

.content-wrapper {
  display: flex;
  align-items: center;
}

.content {
  margin-left: 2em;
}

.b{
  height: 2.5em;
  width: 9em;
}

@media (max-width: 900px) {
  .content-wrapper {
    display: block;
  }

  .content {
    margin-left: 0;
  }
  #bimg{
    height: 20em;
    width: 20em;
    margin: 0;
  }
}